img {width: 100%;}
li {font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

footer{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(185, 64, 64);
font-size: 10pt;
text-align: center;}





