.tit{width: 100%; 
    border-radius: 30px;
} 

h1{text-align: center;}

footer{ text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

img{width: 30%; 
    border-radius: 30px;
} 
p{padding: 10px;}
p{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}



.luffy {
  display: inline-block;     /* permite padding e transform */
  background-color: #008cff; /* cor do "botão" */
  color: #ffffff;
  padding: 10px 20px;        /* tamanho do botão */
  border-radius: 10px;       /* bordas arredondadas */
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

.luffy:hover {
  background-color: #ff0000;  
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(255,0,0,0.8);
}
