img{width: 50%;border-radius:20px;} 

p{padding: 20px;}




p{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

footer {text-align: center;
color: white;
font-size: 10pt;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}

footer a{color: bisque;}