img{display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 20px;
}

p{padding: 10px 30px;
padding-top: 30px;}


video{margin: 0 auto;
    padding: 0px;
display: block;}

h1{padding: 10px;}

a{display: block;
padding-bottom: 30px;}

footer{text-align: center;}